<!--Creacion de Landingpage -->
<div class="container">
  <div class="row">
      <div class="col-12">
           Formula del Peso
      </div>
  </div>

  <div class="row">
    <div class="col-12">

    <p>El peso de un objeto solemos confundirlo con la masa que tiene ese objeto, realmente la masa del objeto es lo que se mide en kilogramos, mientras que el peso del objeto (p) es lo que representa la fuerza ejercida de acuerdo a la masa (m) y la gravedad (g) en la que se encuentra el objeto, teniendo el resultado en newtons(N).
    </p>
    <p>Teniendo la formula p=mg se podria entender como:  p = m * (9.8m/s^2)
    </p>
    <p> <app-ui></app-ui> </p>
    </div>
  </div>
       
</div>
