<!--Creacion de Landingpage -->
<div class="container">
  <div class="row">
      <div class="col-12">
           Formula del Peso
      </div>
  </div>
  <!--prueba de menu -->
  <div class="row">
     <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Formula del peso</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Calculadora</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
     </div>
  </div>
  <div class="row">
    <div class="col-12">

    <p>El peso de un objeto solemos confundirlo con la masa que tiene ese objeto, realmente la masa del objeto es lo que se mide en kilogramos, mientras que el peso del objeto (p) es lo que representa la fuerza ejercida de acuerdo a la masa (m) y la gravedad (g) en la que se encuentra el objeto, teniendo el resultado en newtons(N).
    </p>
    <p>Teniendo la formula p=mg se podria entender como:
    </p>
    <p>p = m * (9.8m/s^2)
    </p>
    </div>
  </div>
  
  <img src= "assets/imagen/formuT.jpg" class="img-thumbnail mx-auto d-block" alt="">
       
</div>
