<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculadora</title>
</head>
<body>
  <div class="alao">
    <p class="letrica">p </p><input type="number" class="textbox" name="value" placeholder="Masa" id="value" [(ngModel)]="value">
    <button class="boton" (click)="calcular()">Calcular</button>
  </div>
  <p class="result">Peso: {{resultado}} Newtons</p>
</body>
</html>
